<section class="book-details">
    <h2>{{title}}</h2>
    <p>
        Author: {{author}} <br />
        Rating: {{rating}} <br />
    </p>
    <p>
        <strong>Description:</strong>
        {{description}}
    </p>
</section>

<a href="/books/{{_id}}/edit">Edit this book</a>
        <form action="/books/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>

<a href="/books">Back</a>